
@mixin md{
    @media (min-width: 1200px) { @content; }
}

.c-curiosity{
    
    max-height: 120vh;
    overflow: hidden;
    @include md{
        padding: 80px 0px;
        max-height: 90vh;
    }

    .curiosity{
        &-box{
            @include md{
                padding: 10px 0px 0px 0px;
            }
            padding: 10px 50px;
        }

        &-icon{
            height: 700px;
            width: 700px;

            &_bottom{
                bottom: -70%;
                left: -20%;
            }
            &_top{
                top: -80%;
                right: -20%;
            }
        }

        &-target{
            position: relative;
            width: 100%;
            background-color: #742AF9;
            height: 40px;

            @include md{
                height: 500px;
                width: 53px;

            }
        }

        &-title{
            color: #fff;
            text-transform: uppercase;
            transform: translateX(90deg);
            position: absolute;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 10px;

            @include md{
                font-weight: 600;
            }
            
        }
        
    }
    .box-text{
        position: relative;
        left: 20%;
        top: 20%;

        @include md{
            transform: rotate(270deg) translateX(-50%);
            left: -12px;
            position: relative;
            bottom: -60%;
        }
    }
    .slick-curiosity_text{
        .card-curiosity-text{
            height: 500px;
        }
        min-height: 500px;
        

        .item{
            &_1{
                background: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquemarta/curiosity/bg-img-curiosity-1.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            &_2{
                background: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquemarta/curiosity/bg-img-curiosity-2.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            &_3{
                background: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquemarta/curiosity/bg-img-curiosity-3.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            &_4{
                background: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquemarta/curiosity/bg-img-curiosity-4.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            &_5{
                background: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquemarta/curiosity/bg-img-curiosity-5.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        .curiosity{
            &-card-title{
                color: #000;
                text-transform: uppercase;
                font-size: 50px;
                font-weight: 500;
                font-family: 'bebas neue';
                text-align: center;
                @include md{
                    text-align: start;
                }
            }

            &-card-content{
                padding-top: 8px;
                color: #000;
                font-size: 16px;
                text-align: center;
                @include md{
                    text-align: start;
                }
            }
        }
    }
    .slick-curiosity_img{
        position: relative;
        top: -150px;

        @include md{
            left: -15%;
            top: 0px;
        }
        .item{        
            background-repeat: no-repeat !important;
            background-size: contain !important;
            height: 650px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            width: 650px;
            
            

            @include md{
                width: 450px !important;
                width: 450px !important;
                height: 450px;
                position: normal;
            }

            
            &_1{
                background: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquemarta/curiosity/bg-slick-curiosity.svg');
                
            }
            &_2{
                background: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquemarta/curiosity/bg-slick-curiosity-green.svg');
                
            }
            &_3{
                background: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquemarta/curiosity/bg-slick-curiosity-yellow.svg');
                
            }
            &_4{
                background: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquemarta/curiosity/bg-slick-curiosity-dark_green.svg');
                
            }
            &_5{
                background: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquemarta/curiosity/bg-slick-curiosity-roxo.svg');
            }
        }

        .box-content{
            width: 225px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            position: relative;
            top: -20%;

            @include md{
                top: 0%;
            }
        }
        .curiosity{
            &-content{
                color: #fff;
                font-weight: 600;
                font-size: 15px;
                line-height: 1.6rem;
                margin-bottom: 16px;
                text-align: center;

                &_black{
                    color: #000;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 1.6rem;
                    margin-bottom: 16px;
                    text-align: center;
                }
            }
            &-target_slick{
                background: #742AF9;
                min-width: 90px;
                height: 45px;
                display: flex;
                font-size: 18px;
                align-items: center;
                justify-content: center;
                border: 2px solid black;
                color: #000;
                border-radius: 30px;
                font-weight: 600;
                position: relative;
                bottom: 0;
                left: 0;

                button{
                    background: transparent;

                    i{
                        color: #FFFFFF;
                    }
                }
                .current{
                    font-weight: 700;
                    font-size: 22px;
                    color: #fff;
                }
                .total{
                    color: #023901;
                    font-weight: 500;
                    font-size: 18px;
                }

                &_2{
                    background: #025318;
                }
                &_3{
                    background:#001963;
                }

                &_4{
                    background: #F0C600;
                }

                &_5{
                    background: #02C6DE;
                }
            }
        }
    
    }
    .curiosity-nav{
        position: absolute;
        left: 42%;
        bottom: 3%;

        button{ 
            background: rgba(0, 0, 0, 0.1);
            display: flex;
            border: none;
            padding: 5px;
            justify-content: center;
            margin: 0px 3px;
            border-radius: 3px;
            i{
                font-size: 25px;
                color: #FFFFFF80;
            }
        }

    }
    .slick__mob_curiosity{
        .box-text{
            padding: 32px;
            background-color: #FFA82D;

            .text-curiosity-mob{
                text-align: center;
            }
        }
        .slick-dots {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
    
            button {
                font-size: 0;
                background: #262626;
                width: 20px;
                height: 5px;
                border-radius: 4px;
                border: 0;
                margin: 0 5px;
                opacity: .3;
                outline: none;
                transition: all .2s ease;
            }
    
            li.slick-active {
                button {
                    opacity: 1;
                    width: 40px;
                    background:#808080;
                }
            }
        }
    }
}