
$color-primary: #03152E;
$color-secondary: linear-gradient(180deg, rgba(255, 255, 255, 0.13) 0%, rgba(8, 45, 66, 0) 100%);
$color-third: linear-gradient(180deg, #D83979 0%, #03152E 100%);               
$color-dotsActive:#00A022;
$color-dots:#535353;

@mixin md{
    @media (min-width: 1200px) { @content; }
}

@mixin lg{
    @media(min-width: 1400px) {@content;}
}
.c-king{
    background: #fff;
    padding: 80px 0px;
    

    @include md{
        padding: 0px 0px;
        overflow: hidden;
    }
    
    .slick__king{
        z-index: 9999999999;
        @include md{
            width: 125%;
        }
    }
    .item{
        padding-right: 8px;
    }
    .king{
        &-title{
            font-size: 70px;
            color:#fff;
            font-weight: 400;
            text-transform: uppercase;
            padding-bottom:8px;
            letter-spacing: -1px;
            font-family: 'bebas neue';
            text-align: center;

            @include md{
                padding-bottom: 16px;
                text-align: start;
                font-size: 140px;
                margin-bottom: 0px;
            }
        }
        &-content{
            color: $color-primary;
            font-size: 18px;
            text-align: center;
            margin-bottom: 8px;
            padding: 40px 0px;

            @include md{
                font-size: 18px;
                text-align: justify;
                margin-bottom: 0;
                padding: 0;
                margin-left: 36px;
            }
            
        }
        &-card{
            margin-top: 8px;
            margin-bottom: 8px;
            
            @include md{
                margin: 0;
                max-height: 550px;
            }
            &_img{
                &-text{
                    max-height: 350px;
                    
                    &_mob{
                        top: -23%;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }

                
            }

        }
        &-container{
            padding-top: 40px;
        }
        &-card-session{
            background: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraqueneymar/bg-king.png');
            background-size: cover;
            background-position: center right;
        }
        
    }
    .slick__king{
        position: relative;
        .item{
            display: flex !important;
            justify-content: center;
            @include md{
                display: block;
            }

            .circle-pele{
                width: 40px;
                height: 40px;
                background-color:$color-primary;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items:center ;
                transition: ease 0.8s ;
                z-index: 99;

                @include md{
                    background-color:$color-primary;
                }

                &-number{
                    font-family: 'bebas neue';
                    font-size: 20px;
                    font-weight: 700;
                    color: #FFF;

                }
            }
            .king-card{
                width: 350px;
                padding: 32px;
                min-height: 350px;
                border-radius: 10px;
                background-color:#03152E;
                background-size: cover;
                background-repeat: no-repeat;
                cursor: pointer;
                position: relative;
                transition: 1s ease-in-out;
                
                
                &::before{
                    position: absolute;
                    width: 45px;
                    height: 100%;
                    background:$color-secondary; 
                    content: '';
                    top: 0;
                    right: 30px;
                    
                }
                @include md{
                    border: 1px solid #0F0F0F;
                    padding: 24px 32px;                  
                }

                &:hover{
                    background-color:#020B1C;

                    &::before{
                        background: $color-third;
                    }
                }

                .king{
                    &-box-icon{
                        height: 45px;
                        opacity: 1;
                        transition: 0.8s ease-in-out;

                        @include md{
                            height: 32px;
                            opacity: 0.5;
                        }
                        &-speed{
                            height: 36px;
                            @include md{
                                height: 35px;
                            }
                        }
                    } 
                    &-box-title{
                        font-size: 40px;
                        text-transform: uppercase;
                        margin-left: 16px;
                        font-weight: 700;
                        color: #363636;
                        transition: 0.8s ease-in-out;
                        font-family: 'bebas neue';
                        margin-bottom: 0px;
                        color: #FFFFFF;

                        @include md{
                            margin-bottom: 0px;
                            color: #363636;
                            margin-left: 8px;
                            font-size: 25px;
                        }
                    }
                    &-box-content{
                        color: #FFF;
                        font-size: 20px;
                        padding-top: 16px;
                        transition: 0.8s ease-in-out;
                        font-weight: 300;
                        z-index: 999;
                        position: relative;
                        font-weight: 400;

                        @include md{
                            color: #363636;
                            font-size: 14px;
                        }
                    }
                }
                &:hover{
                    @include md{
                        border:1px solid #FFA82D;
                    }
                    .king-box-icon{
                        opacity: 1;
                    }
                    .king-box-title{
                        color: #FFFFFF;
                    }
                    .king-box-content{
                        color: #FFFFFF;
                    }
                    .circle-pele{
                        background-color: #020B1C;
                    }
                    .circle-pele-number{
                        color: #FFFFFF;
                    }
                }
            }
            
        }
        .slick-dots {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
    
            button {
                font-size: 0;
                background: $color-dots;
                width: 20px;
                height: 5px;
                border-radius: 4px;
                border: 0;
                margin: 0 5px;
                opacity: .3;
                outline: none;
                transition: all .2s ease;
            }
    
            li.slick-active {
                button {
                    opacity: 1;
                    width: 40px;
                    background:$color-dotsActive;
                }
            }
        }

        @include md{
            &::before{
                background:linear-gradient(270deg, #E4E4E4 0%, rgba(228, 228, 228, 0) 100%) ;
                position: absolute;
                width: 20vh;
                height: 100%;
                content: "";
                top: 0px;
                z-index: 99;
                right: 5%;
            }
        }
        @include lg{
            &::before{
                background:linear-gradient(270deg, #E4E4E4 0%, rgba(228, 228, 228, 0) 100%) ;
                position: absolute;
                width: 22vh;
                height: 100%;
                content: "";
                top: 0px;
                z-index: 99;
                right: 0%;
            }
        }

    }
    .slick-nav_king{
        margin-bottom: 8px;
            button{ 
                background: #0000001A;
                border: none;
                i{
                    font-size: 25px;
                    color: #FFFFFF80;
                }
                &:hover{
                    background-color: #0F0F0F;
                }
            }
    }
}