@mixin md{
    @media (min-width: 1200px) { @content; }
}
@mixin lg{
    @media(min-width: 1480px) {@content;}
}

*{
    font-family: 'gotham';
}

.c-vitrine{
    background-color:#FFF ;
    padding: 80px 0px;
   
    
    .icon-vitrine_green{
        position: absolute;
    }
    .icon-vitrine_green{
        right: -15%;
        top: -90%;
        width:700px;
    }

    .vitrine{
        &-title{
            font-size: 20px;
            text-align: center;
            margin-bottom: 32px;
            font-weight: 700;
            color: #535353;
        }
        &-icon{
            position: absolute;
            left: -40%;
            bottom: -97%;

            @include md{
                left: -33%;
                bottom: -42%;
                width: 900px;
            }

            @include lg{
                width: 1255px;
                left: -40%;
                bottom: -55%;
            }
        }
    }
    #vitrine-fut{


        .item{
            padding-right: 8px;
            position: relative;

        
            .link{
                &:hover{
                    text-decoration: none;
                }
            }

            .discount{
                position: absolute;
                right: 20px;
                top: 5px;
                background-color:#5BF405;
                font-weight: 800;
                color: #000 ;
                font-size: 12px;
                border-radius: 20px;
                padding: 3px 7px;
                display: flex;
                align-items: center;

                i{
                    font-size:5px;
                    margin-right: 1px;
                }
            }
            .tags{
                margin-top: 8px;
                flex-direction: column;
                display: flex;

                @include md{
                    flex-direction: row;
                }
                .lancamento{
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #000;
                    min-height: 25px;
                    max-width: 110px;
                    background-color: transparent;
                    border: 1px solid #000;
                    font-size: 12px;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 4px;

                    &:hover{
                        text-decoration: none;
                    }

                    @include md{
                        padding: 3px 10px;
                        margin-right: 8px;
                        margin-bottom: 0px;
                    }
                }
                .oferta{
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #000;
                    min-height: 25px;
                    max-width: 80px;
                    background-color: #5BF405;
                    font-size: 12px;
                    border-radius: 20px;
                    justify-content: center;
                    align-items: center;
                    display: flex;

                    &:hover{
                        text-decoration: none;
                    }
                    @include md{
                        padding: 3px 10px;
                    }
                }
            }
            .title{
                font-size: 16px;
                color: #535353;
                font-weight: 400;
                margin-top: 8px;
            }
            .price{
                .old-price{
                    text-decoration: line-through;
                    font-weight: 500;
                    font-size: 12px;
                    color: #535353;
                }
                .current-price{
                    font-size: 16px;
                    font-weight: 800;
                    color: #535353;
                }
                .installments{
                    color: #535353;
                    font-size: 14px;
                    margin-top: 2px;
                }
            }
        }
        .slick-dots {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
    
            button {
                font-size: 0;
                background: #535353 ;
                width: 20px;
                height: 5px;
                border-radius: 4px;
                border: 0;
                margin: 0 5px;
                opacity: .3;
                outline: none;
                transition: all .2s ease;
            }
    
            li.slick-active {
                button {
                    opacity: 1;
                    width: 40px;
                    background:#5BF405;
                }
            }
        }
    }
    .slick-nav_vitrine{
        padding: 0px 6%;
        top: 40%;
        position: absolute;
        width: 100%;
        .slick-prev, .slick-next{
            background-color: transparent;
            border: none;

            i{
                color: #939393;
                font-size: 22px;
                font-weight: 700;
            }
        }
    }
}